.header {
    background-color: #24252A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;

    .logo {
        color: var(--beige-text);
        font-size: 1.5em;
        display: flex;
        align-items: center;
        transition: all 1s ease-out;

        img {
            margin: 0px 5px;
            cursor: pointer;
            max-width: 50px;
            max-height: 50px;
            border-radius: 15px;
        }
    }

    .logo:hover {    
        transform: scale(1.2);
        cursor: pointer;
    }

    .nav_links {
        list-style: none;

        li {
            display: inline-block;
            padding: 0px 15px;
        }

        li a {
            text-decoration: none;
            color: var(--beige-text);
            transition: all 0.3s ease 0s;
        }

        li a:hover {
            color: var(--blue-hover);
        }
    }

}
